.SettingsSection {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  flex-direction: row;
  font-size: 0.8125rem;
  padding: 1rem 1.5rem;
}

.SettingsSection:last-child {
  border-bottom: none;
}

.SettingsSection--error {
  background: red;
  color: white;
}

.SettingsSection--error:first-child {
  margin-top: -0.25rem;
  paddgin-top: 1.25rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.SettingsSection button {
  background: rgba(0,0,0,0.05);
  border-radius: 0.25rem;
  color: rgba(0,0,0,0.6);
  height: 2rem;
  margin: -0.25rem -0.5rem -0.5rem;
  margin-left: auto;
  width: 50%;
}

.SettingsSection button:nth-last-child(2) {
  margin-left: -0.5em;
}
