.SettingsSection {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0.8125rem 1rem;
}

.SettingsSection:last-child {
  border-bottom: none;
}

.SettingsSection--default {
  flex-direction: row;
}

.SettingsSection--error {
  background: red;
  color: white;
  font-size: 0.75rem;
}

.SettingsSection--error:first-child {
  margin-top: -0.25rem;
  paddgin-top: 1.25rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.SettingsSection .Button {
  margin: -0.25rem -0.5rem -0.5rem;
  margin-left: auto;
  width: 50%;
}

.SettingsSection button:nth-last-child(2) {
  margin-left: -0.5em;
}
