.ShortcutGrid {
  left: 50%;
  padding: 0 1.5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ShortcutGrid__items {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.ShortcutGrid__item {
  font-size: 0.625rem;
  margin: 0.5rem;
  width: 5rem;
}

.ShortcutGrid .Settings {
  display: none;
  left: auto;
  position: absolute;
  right: 0;
}

.ShortcutGrid .Settings--is-shown {
  display: block;
  margin-right: calc(-9rem / 14); /* half fontawesome fixed width */
  margin-top: -0.5rem;
  right: 50%;
  top: 50%;
}

.ShortcutGrid:hover .Settings {
  display: block;
}

.ShortcutGrid--is-empty .Settings {
  display: block;
  margin: 0.5rem;
  position: relative;
}

.ShortcutGrid--is-empty .Settings__toggle {
  height: 4rem;
  font-size: 2rem;
  width: 5rem;
}
