.Photo {
  overflow: hidden;
  z-index: 10;
}

.Photo__image,
.Photo__thumb {
  background: no-repeat center / cover;
  bottom: 0;
  margin: -0.5rem;
  position: absolute;
  right: 0;
}

.Photo__thumb {
  filter: blur(0.5rem);
  will-change: opacity z-index;
}

.Photo__thumb-leave-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.Photo__info {
  background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0));
  bottom: 0;
  color: rgba(255,255,255,0.8);
  height: 4rem;
  opacity: 0.6;
  padding: 2rem 0 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: auto;
  transition: opacity 0.2s ease-out;
  z-index: 10;
}

.Photo__info:hover {
  opacity: 1;
}

.Photo__info a:hover {
  color: rgba(255,255,255,1);
}

.Photo__credit {
  margin-top: 0.125rem;
  font-size: 0.75rem;
}

.Photo__download {
  left: auto;
  margin-top: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
