.Wallpaper {
  background: black;
  height: 100%;
  width: 100%;
}

.Wallpaper__container,
.Wallpaper__image {
  height: 100%;
  position: absolute;
  width: 100%;
}

.Wallpaper__image.Wallpaper__image-enter {
  opacity: 0;
  z-index: 10;
}

.Wallpaper__image.Wallpaper__image-enter-active {
  opacity: 1;
  transition: 0.3s ease-out;
}

.Wallpaper__image.Wallpaper__image-leave {
  opacity: 1;
  z-index: 1;
}

.Wallpaper__image.Wallpaper__image-leave-active {
  opacity: 0;
  transition: 0.3s ease-out;
}

.Wallpaper__content {
  z-index: 20;
}

.Wallpaper__actions {
  bottom: 1rem;
  flex-direction: row;
  left: 1rem;
  position: absolute;
  top: auto;
  z-index: 10;
}

.Wallpaper__refresh {
  margin-right: 0.25rem;
  color: rgba(255,255,255,0.8);
}

.Wallpaper__refresh:hover {
  color: rgba(255,255,255,1);
}
