.Wallpaper {
  background: black;
  height: 100%;
  width: 100%;
}

.Wallpaper__container,
.Wallpaper__photo {
  height: 100%;
  position: absolute;
  width: 100%;
}

.Wallpaper__photo.Wallpaper__photo-enter {
  opacity: 0;
  z-index: 10;
}

.Wallpaper__photo.Wallpaper__photo-enter-active {
  opacity: 1;
  transition: 0.3s ease-out;
}

.Wallpaper__photo.Wallpaper__photo-leave {
  opacity: 1;
  z-index: 1;
}

.Wallpaper__photo.Wallpaper__photo-leave-active {
  opacity: 0;
  transition: 0.3s ease-out;
}

.Wallpaper__content {
  z-index: 20;
}

.Wallpaper__actions {
  bottom: 2rem;
  color: rgba(255,255,255,0.6);
  flex-direction: row;
  height: 0;
  padding: 0 1rem;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: 10;
}

.Wallpaper__actions > a:hover,
.Wallpaper__actions > button:hover {
  color: rgba(255,255,255,1);
}

.Wallpaper__refresh {
  margin-right: 0.25rem;
}

.Wallpaper__download {
  margin-left: auto;
}
