.Settings.Settings--is-shown {
  display: block;
}

.Settings__toggle {
  color: white;
  text-shadow: 0 0 0.25em rgba(0,0,0,0.5);
  opacity: 0.5;
}

.Settings:hover .Settings__toggle,
.Settings--is-shown .Settings__toggle {
  opacity: 1;
}
