.Settings {
  background: #EEEEEE;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  height: 20rem;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 25rem;
}
